<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>Coin Market</title>
  <!-- Favicon-->
  <link href="../static/favicon.ico" rel="icon" type="image/x-icon"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light" href="/">Coin Market
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="{{ url_for('index') }}">Main</a>
      {% if result['login'] == 1 %}
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="{{ url_for('market') }}">Market</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="{{ url_for('post') }}">Post</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="{{ url_for('bank') }}">Bank</a>
      {% endif %}
    </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
        <button aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent"
                data-bs-toggle="collapse"
                type="button"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link"
                                           href="">Market Coin : {{
              result['market_coin'] }}</a>
            </li>
            <li class="nav-item active"><a class="nav-link"
                                           href="">Coin Price : {{
              result['market_money'] }}</a>
            </li>
            {% if result['login'] == 1 %}
            <li class="nav-item active"><a class="nav-link"
                                           href="{{ url_for('signout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active"><a class="nav-link"
                                           href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item active"><a class="nav-link"
                                           href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
            
            {% if result['login'] == 1 %}
            <li class="nav-item active"><a class="nav-link"
                                           href="">Coin : {{ result['coin']
              }}</a>
            <li class="nav-item active"><a class="nav-link"
                                           href="">Money : {{ result['money']
              }}</a>
            </li>
            {% endif %}
            {% if result['admin'] == 1 %}
            <li class="nav-item active"><a class="nav-link"
                                           href="{{ url_for('price') }}">코인 가격
              수정</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content-->
    <div class="container-fluid">
      <form action="/withdraw" method="post">
        <input id="money1" name="money" required type="text" value>
        <button type="submit">인출</button>
      </form>
      <form action="/deposit" method="post">
        <input id="money2" name="money" required type="text" value>
        <button type="submit">입금</button>
      </form>
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/scripts.js"></script>
</body>
</html>
